@charset "utf-8";

@media all and (max-width: 1170px) {

    body{
        margin: 0;
    }

    .last-image a {
        width: 1170px;
        margin-left: 20px;
        font-size: 25px;
      }
 
}


@media all and (max-width: 780px) {


    
}