@charset "utf-8";

/* @media (aspect-ratio: 16/9), (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
} */

/*動画よりも画面が縦に長くなるとき用*/
/* @media (max-aspect-ratio: 16/9) {
  video {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
} */



@media all and (max-width: 1300px) {

  #slideshow .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

   .tag {
    position: relative;
    top: 0;
    left: 10%;
  }

  @keyframes slideimg1 {
    0%   {position: absolute; left: 10%;}
    100% {position: absolute; left: 10%; top: 0px;}
  }
  
  @keyframes slideimg2 {
    0%   {position: absolute; left: 10%;}
    100% {position: absolute; left: 10%; top: 100px;}
  }
  
  @keyframes slideimg3 {
    0%   {position: absolute; left: 10%;}
    100% {position: absolute; left: 10%; top:200px;}
  }
  
  @keyframes slideimg4 {
    0%   {position: absolute; left: 10%;}
    100% {position: absolute; left: 10%; top: 300px;}
  }
  
  @keyframes slideimg5 {
    0%   {position: absolute; left: 10%;}
    100% {position: absolute; left: 10%; top: 400px;}
  } 
 
}


@media all and (max-width: 640px) {

  iframe {
    width: 100%;
    margin: 5px 0 0 0;
    height: 234px;
  }

  textarea {
    font-weight: bold;
    overflow-y: scroll;
    width: 300px;
    height: 100px;
  }

  #js-title #usernameTop {
    display: none;
    font-size: 18px;
    width: 100%;
    margin-bottom: 2px;
    padding: 11px 0px;
  }

  #userage {
    width: 433px;
    position: relative;
    left: -82px;
  }

  #recommend {
    font-size: 16px;
    padding: 10px;
  }

    body {
        padding-top: 100px;
    }
    .top-comment {
        position: absolute;
        top: -100px;
    }

    #js-title h1 {
        font-size: 26px;
        position: relative;
        top: 25px;
        z-index: 10;
        text-align: center;
        margin: 0;
        display: inline-block;
        width: 315px;
        background: #034959;
        padding: 10px 0px;
        border-radius: 8px;
        animation: topTitel 20s ease infinite;
    }

     
    .comBg ,.header-comment {
        font-size: 50px;
        width: 100%;
    }
 

@keyframes text-11 {
      0%   {opacity: 0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 200px; left: -5px;}
      20%  {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 200px; left: -5px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}    
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}
     100%  {opacity:   0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}
      }
    
    @keyframes text-12 {
      0%   {opacity: 0; font-size: 50px; color:#F2F2F2;
            position: relative; top: 100px; left: -50px;}
      20%  {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 100px; left: -50px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
      100% {opacity:   0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
    }
    
    @keyframes text-13 {
      0%   {opacity: 0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -100px; left: 5px;}
      20%   {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -100px; left: 5px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
      100% {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
    }
    
    @keyframes text-21 {
      0%   {opacity: 0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -150px; left: -5px;}
      20%  {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -150px; left: -5px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}    
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}
     100%  {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}
      }
    
    @keyframes text-22 {
      0%   {opacity: 0; font-size: 50px; color:#F2F2F2;
            position: relative; top: -102px; left: -50px;}
      20%  {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -102px; left: -50px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
      100% {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
    }
    
    @keyframes text-23 {
      0%   {opacity: 0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 100px; left: 5px;}
      20%   {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 100px; left: 5px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
      100% {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
    }
    
    @keyframes text-31 {
      0%   {opacity: 0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 0px; left: -5px;}
      20%  {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 0px; left: -5px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}    
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}
     100%  {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}
      }
    
    @keyframes text-32 {
      0%   {opacity: 0; font-size: 50px; color:#F2F2F2;
            position: relative; top: 200px; left: -50px;}
      20%  {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 200px; left: -50px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
      100% {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
    }
    
    @keyframes text-33 {
      0%   {opacity: 0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 0px; left: 5px;}
      20%   {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: 0px; left: 5px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
      100% {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
    }
    
    @keyframes text-41 {
      0%   {opacity: 0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -250px; left: -5px;}
      20%  {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -250px; left: -5px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}    
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}
     100%  {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 0px;}
      }
    
    @keyframes text-42 {
      0%   {opacity: 0; font-size: 50px; color:#F2F2F2;
            position: relative; top: -250px; left: 8px;}
      20%  {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -250px; left: 8px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
      100% {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 8px;}
    }
    
    @keyframes text-43 {
      0%   {opacity: 0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -250px; left: 5px;}
      20%   {opacity: 1.0; font-size: 50px; color: #F2F2F2;
            position: relative; top: -250px; left: 5px;}
      40%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
      90%  {opacity: 1.0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
      100% {opacity:  0; font-size: 30px; color: #034959;
            position: relative; top: 0px; left: 18px;}
    }


   img {
       width: 100%;
   }

   .image1 .tras-114 {
    position: absolute;
    top:  197px;
  }

  .image1 .tras-113 {
    position: absolute;
    top:   236px;
  }

  .image1 .tras-112 {
    position: absolute;
    top:  295px;
  }

  .image1 .tras-111 {
    position: absolute;
    top:  119px;
  }

  .image1 .tras-110 {
    position: absolute;
    top:  336px;
  }

  .image1 .tras-19 {
    position: absolute;
    top:  311px;
  }

  .image1 .tras-18 {
    position: absolute;
    top:  340px;
  }

  .image1 .tras-17 {
    position: absolute;
    top:  208px;
  }

  .image1 .tras-16 {
    position: absolute;
    top:  223px;
  }

  .image1 .tras-15 {
    position: absolute;
    top:  268px;
  }

  .image1 .tras-14 {
    position: absolute;
    top:   341px;     
  }

  .image1 .tras-13 {
    position: absolute;
    top:  245px;
  }

  .image1 .tras-12 {
    position: absolute;
    top:  303px;
  }

  .image1 .tras-11 {
    position: absolute;
    top:    249px;
  }
    
   .image2 .tras-214 {
      position: absolute;
      top:  216px;
    }
  
    .image2 .tras-213 {
      position: absolute;
      top:   225px;
    }
  
    .image2 .tras-212 {
      position: absolute;
      top:  259px;
    }
  
    .image2 .tras-211 {
      position: absolute;
      top:  230px;
    }
  
    .image2 .tras-210 {
      position: absolute;
      top:  290px;
    }
  
    .image2 .tras-29 {
      position: absolute;
      top:  274px;
    }
  
    .image2 .tras-28 {
      position: absolute;
      top:  306px;
    }
  
    .image2 .tras-27 {
      position: absolute;
      top:  230px;
    }
  
    .image2 .tras-26 {
      position: absolute;
      top:  250px;
    }
  
    .image2 .tras-25 {
      position: absolute;
      top:  260px;
    }
  
    .image2 .tras-24 {
      position: absolute;
      top:   234px;     
    }
  
    .image2 .tras-23 {
      position: absolute;
      top:  284px;
    }
  
    .image2 .tras-22 {
      position: absolute;
      top:  238px;
    }
  
    .image2 .tras-21 {
      position: absolute;
      top:    208px;
    }

    .image3 .tras-314 {
      position: absolute;
      top:  243px;
    }
  
    .image3 .tras-313 {
      position: absolute;
      top:   254px;
    }
  
    .image3 .tras-312 {
      position: absolute;
      top:  249px;
    }
  
    .image3 .tras-311 {
      position: absolute;
      top:  235px;
    }
  
    .image3 .tras-310 {
      position: absolute;
      top:  252px;
    }
  
    .image3 .tras-39 {
      position: absolute;
      top:  248px;
    }
  
    .image3 .tras-38 {
      position: absolute;
      top:  240px;
    }
  
    .image3 .tras-37 {
      position: absolute;
      top:  230px;
    }
  
    .image3 .tras-36 {
      position: absolute;
      top:  248px;
    }
  
    .image3 .tras-35 {
      position: absolute;
      top:  243px;
    }
  
    .image3 .tras-34 {
      position: absolute;
      top:   232px;     
    }
  
    .image3 .tras-33 {
      position: absolute;
      top:  242px;
    }
  
    .image3 .tras-32 {
      position: absolute;
      top:  232px;
    }
  
    .image3 .tras-31 {
      position: absolute;
      top:    241px;
     }
   
     @keyframes image-posi {
      0%  {position: relative;left: 0px;}
     25%  {position: relative;left: 0px;}
     30%  {position: relative;left: 0px;}
     40%  {position: relative;left: 0px;}
     100% {position: relative;left: 0px;}
    }
    
    @keyframes image-rote {
      0%  {transform:rotate(180deg);
           width: 90%;
           position: absolute;
          
           left: 20px;}
     25%  {transform:rotate(360deg);
           width: 90%;
           position: absolute;
          
           left: 20px;}
     35%  {transform:rotate(360deg);
           width: 90%;
           position: absolute;
           
           left: 20px;}
     100%  {transform:rotate(360deg);
           width: 100%;
           position: absolute;
           top:    80px;
           left:   0;}
    }
    .image4 img {
      width: 90%;
      position: absolute;
      top: 140px;
      left: 20px;
    }
    
    @keyframes last66 {
    0% {
      position: relative;
      top: 800px;
      opacity: 0;
      height: 1400px;
    }
    
    100% {
      position: relative;
      top: 428px;
      opacity: 1.0;
      height: 750px;
    }
    }
    
    .last-image a {
      display: inline-block;
      position: relative;
      top: 147px;
      background: #5ABFAD;
      color: antiquewhite;
      padding: 10px 5px;
      border-radius: 8px;
      font-size: 12px;
    }

    @keyframes buffalo {   
     0% {
      position: relative;
      top: -900px;
      left: 16px;
    }
     100% {
      position: relative;
      top: -492px;
      left: 16px;
    }
    }

    .last-image1 {
      position: relative;
      top: -900px;
      left: 16px;
   }


    .sub66 {
      top: -352px;
    }
    .anwBtn:hover {
      background-color: rgba(64, 64, 64,1.0);
      box-shadow: 5px 5px rgba(166, 166, 166,1.0);
    } 

    #age {
      position: relative;
            left: -160px;
      font-size: 12px;
    }

    .bg {
      position: absolute;
      top: 203px;
    }

    .st-log {
      display: inline-block;
      position: relative;
      top: 235px;
    }

    .st-log:active {
      background-color: rgba(218, 205, 208,0.5);
      box-shadow: none;
      top:  240px;
    }

    #next .next {
      position: relative;
          top: -113px;
          left: 105px;
    }
    
    #index #next .next{
      position: relative;
          top: -117px;
          left: 0px;
    }

    .tag {
      position: absolute;
        top:  0px;  
        left: 0%;
    }

    @keyframes slideimg1 {
      0%   {position: absolute; left: 0%;}
      100% {position: absolute; left: 0%; top: 0px;}
    }
    
    @keyframes slideimg2 {
      0%   {position: absolute; left: 0%;}
      100% {position: absolute; left: 0%; top: 7.0%;}
    }
    
    @keyframes slideimg3 {
      0%   {position: absolute; left: 0%;}
      100% {position: absolute; left: 0%; top:14.0%;}
    }
    
    @keyframes slideimg4 {
      0%   {position: absolute; left: 0%;}
      100% {position: absolute; left: 0%; top: 21.0%;}
    }
    
    @keyframes slideimg5 {
      0%   {position: absolute; left: 0%;}
      100% {position: absolute; left: 0%; top: 28%;}
    }

    #slideshow {
      width: 96%;
      position: relative;
      top: 14px;
      height: 500px;
  }

  .st-log {
      position: relative;
      top: 100px;
  }

  .st-log:active {
      top:  105px;
  }

  #js-reslbtn {
      position: relative;
      top: -445px;
  }

  #js-reslbtn:active {
      position: relative;
      top:  -440px;
  }

  .next_warapper .next {
    padding: 10px;
    z-index: 20;
    display: inline-block;
    width: 117px;
    animation: nextbtn  7s ease infinite;
    text-align: center;
    position: relative;
        top: -127px;
        left: -15px;
  }
  
  .next_warapper .contact {
    padding: 10px;
    z-index: 20;
    display: inline-block;
    width: 117px;
    animation: contactbtn  7s ease infinite;
    text-align: center;
    position: relative;
        top: -127px;
        left: 15px;
  }
  
  
  
  #index .next_warapper .next{
    position: relative;
        top: -127px;
        left: -6px;
  }
  
  #contact .next_warapper .next{
    position: relative;
        top: -127px;
        left: 0px;
  }
  







}

@media all and (max-width: 376px) {

  .video-container {
    position: relative;
    top: -51px;
  }

      #slideshow {
            width: 100%;
            position: relative;
            top: -11px;
            left: 0px;
            height: 500px;
        }
      


      @keyframes slideimg1 {
            0%   {position: absolute; left: 0%;}
            100% {position: absolute; left: 0%; top: 0px;}
          }
          
          @keyframes slideimg2 {
            0%   {position: absolute; left: 0%;}
            100% {position: absolute; left: 0%; top: 7.0%;}
          }
          
          @keyframes slideimg3 {
            0%   {position: absolute; left: 0%;}
            100% {position: absolute; left: 0%; top:14.2%;}
          }
          
          @keyframes slideimg4 {
            0%   {position: absolute; left: 0%;}
            100% {position: absolute; left: 0%; top: 21.4%;}
          }
          
          @keyframes slideimg5 {
            0%   {position: absolute; left: 0%;}
            100% {position: absolute; left: 0%; top: 28.6%;}
          }

          #js-reslbtn {
            position: relative;
              top: -490px;
          }

          #js-reslbtn:active {
            position: relative;
            top:  -485px;
          }

          .st-log {
            position: relative;
            top: 8px;
          }

          .st-log:active {
            top:  13px;
          }

          #slideshow .tag:nth-child(2) {
            position: absolute;
            top: 10%;  
          }
          
          #slideshow .tag:nth-child(3) {
            position: absolute;
            top: 20%;  
          }
          
          #slideshow .tag:nth-child(4) {
            position: absolute;
            top: 30%;  
          }
          
          #slideshow .tag:nth-child(5) {
            position: absolute;
            top: 40%;  
          }
          
          .slidebtn {
            width: 20%;
            padding: 0px;
          }

          #slideshow .slidebtn:nth-child(2) {
            position: absolute;
              top: 8%;
          }
          
          #slideshow .slidebtn:nth-child(3) {
            position: absolute;
              top: 18%;
          }
          
          #slideshow .slidebtn:nth-child(4) {
            position: absolute;
              top: 28%;
          }
          
          #slideshow .slidebtn:nth-child(5) {
            position: absolute;
              top: 38%;
          }
          textarea {
            font-weight: bold;
            overflow-y: scroll;
            width: 300px;
            height: 100px;
          }
          


}


