@charset "utf-8";

@keyframes header-image {
    0%  {position: absolute;
        top:0;  left: 0;}
    100%{position: absolute;
        top: -1500px; left: 0px;}
}

@keyframes image-rote {
    0%  {transform:rotate(180deg);
         width: 1170px;
         position: absolute;
         top: 30px;
         left: auto;}
   25%  {transform:rotate(360deg);
         width: 1170px;
         position: absolute;
         top: 30px;
         left: auto;}
   35%  {transform:rotate(360deg);
         width: 1170px;
         position: absolute;
         top: 30px;
         left: auto;}
   100%  {transform:rotate(360deg);
         width: 1300px;
         position: absolute;
         top:    10px;
         left:   auto;}
}

@keyframes image-posi {
    0%  {position: relative;left: 0px;}
   25%  {position: relative;left: 0px;}
   30%  {position: relative;left: 0px;}
   40%  {position: relative;left: 0px;}
   100% {position: relative;left: -60px;}
}

@keyframes last66 {
  0%  {position: relative;top: 640px;
       opacity: 0; height: 1400px;}
  90% {position: relative;top:  -30px;}   
 100% {position: relative;top:   20px;
       opacity: 1.0; height: 750px;}
}

@keyframes buffalo {
  0%  {position: relative;top: -700px; left: 16px;}
 100% {position: relative;top: -30px; left: 16px;}
}

@keyframes imgOut1 {
  0%  {opacity: 1.0; }
 100% {opacity: 0;   }
}

@keyframes imgOut2 {
  0%  {opacity: 1.0; position: relative;top:   0px}
 100% {opacity: 0;   position: relative;top:   0px}
}

@keyframes topTitel {
  0% { background: #F2F2F2; color: #404040;}
  33% { background: #737373; color: #F2F2F2;}
  66% { background: #404040; color: #737373;}
  100% { background: #F2F2F2; color: #404040;}
}

@keyframes topAge {
  0% {color: #404040;}
  33% {color: #F2F2F2;}
  66% {color: #737373;}
  100% {color: #404040;}
}

@keyframes quiz {
  0%  {opacity: 0;  }
 100% {opacity: 1.0;}
}


@keyframes quizTopBg {
  0%   {opacity: 0; width: 0px;}
  35%  {opacity: 0;width: 0px;}
  50%  {opacity: 1.0;width: 323px;}
  90%  {opacity: 1.0;width: 323px;}  
  100% {opacity: 0; width: 323px;}
}


@keyframes text-11 {
  0%   {opacity: 0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 200px; left: -140px;}
  20%  {opacity: 1.0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 200px; left: -140px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}    
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}
 100%  {opacity:   0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}
  }

@keyframes text-12 {
  0%   {opacity: 0; font-size: 100px; color:#F2F2F2;
        position: relative; top: 100px; left: -50px;}
  20%  {opacity: 1.0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 100px; left: -50px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
  100% {opacity:   0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
}

@keyframes text-13 {
  0%   {opacity: 0; font-size: 100px; color: #F2F2F2;
        position: relative; top: -100px; left: 200px;}
  20%   {opacity: 1.0; font-size: 100px; color: #F2F2F2;
        position: relative; top: -100px; left: 200px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
  100% {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
}

@keyframes text-21 {
  0%   {opacity: 0; font-size: 100px; color: #F2F2F2;
        position: relative; top: -150px; left: -250px;}
  20%  {opacity: 1.0; font-size: 100px; color: #F2F2F2;
        position: relative; top: -150px; left: -250px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}    
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}
 100%  {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}
  }

@keyframes text-22 {
  0%   {opacity: 0; font-size: 100px; color:#F2F2F2;
        position: relative; top: -102px; left: -50px;}
  20%  {opacity: 1.0; font-size: 100px; color: #F2F2F2;
        position: relative; top: -102px; left: -50px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
  100% {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
}

@keyframes text-23 {
  0%   {opacity: 0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 100px; left: 200px;}
  20%   {opacity: 1.0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 100px; left: 200px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
  100% {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
}

@keyframes text-31 {
  0%   {opacity: 0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 0px; left: -200px;}
  20%  {opacity: 1.0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 0px; left: -200px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}    
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}
 100%  {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}
  }

@keyframes text-32 {
  0%   {opacity: 0; font-size: 100px; color:#F2F2F2;
        position: relative; top: 200px; left: -50px;}
  20%  {opacity: 1.0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 200px; left: -50px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
  100% {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
}

@keyframes text-33 {
  0%   {opacity: 0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 0px; left: 230px;}
  20%   {opacity: 1.0; font-size: 100px; color: #F2F2F2;
        position: relative; top: 0px; left: 230px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
  100% {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
}

@keyframes text-41 {
  0%   {opacity: 0; font-size: 150px; color: #F2F2F2;
        position: relative; top: -60px; left: -100px;}
  20%  {opacity: 1.0; font-size: 150px; color: #F2F2F2;
        position: relative; top: -60px; left: -100px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}    
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}
 100%  {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 0px;}
  }

@keyframes text-42 {
  0%   {opacity: 0; font-size: 150px; color:#F2F2F2;
        position: relative; top: -60px; left: 8px;}
  20%  {opacity: 1.0; font-size: 150px; color: #F2F2F2;
        position: relative; top: -60px; left: 8px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
  100% {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 8px;}
}

@keyframes text-43 {
  0%   {opacity: 0; font-size: 150px; color: #F2F2F2;
        position: relative; top: -60px; left: 100px;}
  20%   {opacity: 1.0; font-size: 150px; color: #F2F2F2;
        position: relative; top: -60px; left: 100px;}
  40%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
  90%  {opacity: 1.0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
  100% {opacity:  0; font-size: 30px; color: #034959;
        position: relative; top: 0px; left: 18px;}
}


body{
    background-color:#D2D9D8;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

header{
  position: relative;
  text-align: center;
}

.top-comment {
  position: absolute;
  width: 1170px;
  height: 900px;
  overflow: hidden;

}

.header-comment { 
    position: absolute;
      top:0;  left: 0;
    width: 1170px;  
    line-height: 1;
    margin: 0;   
    font-size: 100px;
    font-weight: bold;
    color: #F2F2F2;
    animation: header-image  400s linear infinite;
}

.comBg {
    position: absolute;
      top:0;  left: 0;
    width: 1170px; 
    padding: 10px 0 0 10px;
    line-height: 1;
    margin: 0;   
    font-size: 100px;
    font-weight: bold;
    animation: header-image  400s linear infinite;
    color: #A6A6A6;
}


#js-title {
  text-align: center;
}

#js-title h1 {
  position: relative;
    top: 25px;
  z-index: 10;
  text-align: center;
  margin: 0;
  display: inline-block;
  width: 400px;
  background: #034959;
  padding: 10px 95px;
  border-radius: 0px 400px 0px / 0px 180px 0px 180px;
  animation: topTitel  20s ease infinite;
}

#age {
  text-align: right;
  width: 490px;
  display: inline-block;
  position: relative; 
    top: 2px;
  font-size: 14px;
  z-index: 11;
  animation: topAge  20s ease infinite;  
  }

.button-wrapper {
    text-align: center;
}


.st-log {    
    display: inline-block;
    
    position: relative;
        top:  130px;    
    color: #2D1F8C;
    font-size: 25px;
    font-weight: border;
    background-color: rgb(218, 205, 208);
    border-radius: 50%;
    padding: 30px;
    cursor: pointer;
    box-shadow: 5px 5px rgba(124, 146, 165, 0.8);
}

.st-log:active {
    background-color: rgba(218, 205, 208,0.5);
    box-shadow: none;
    top:  135px;
}

.quizzs {
    display: none;

}

.quizzs .container {
    text-align: center;
}

.quiz {
    position: relative;
    top: 90px;
    display: inline-block;
}

.quizTopBg {
  text-align: center;
  position: relative;
    top: -140px;
  width: 0px;
  height: 45px;
  padding: 5px 0px;
  border-radius: 8px;
  color: #F2EDE4;
  background: #F2F2F2;
  box-shadow: 5px 5px #0D0D0D;
  font-size: 30px;
  text-align: center;
  animation: quizTopBg  8s ease forwards;
}

.quizTopBg-2 {
  text-align: center;
  position: relative;
    top: -139px;
  width: 0px;
  height: 45px;
  padding: 5px 0px;
  border-radius: 8px;
  color: #F2EDE4;
  background: #F2F2F2;
  box-shadow: 5px 5px #0D0D0D;
  font-size: 30px;
  text-align: center;
  animation: quizTopBg  8s ease forwards;
}

.quizTop {
  font-size: 30px;
  font-weight: bold;
  color: #F2EDE4;  
}

.quizTop-1 {
  position: relative;
    top: -217px;
    left: 0px;
    z-index: 10;
}

.text-11 {
  position: relative;
    top:  0px;
    left: 0px;
  animation: text-11  8s ease-out forwards;
}

.text-12 {
  position: relative;
    top:  0px;
    left: 8px;
  animation: text-12  8s ease-out forwards;
}

.text-13 {
  position: relative;
    top:  0px;
    left: 18px;
  animation: text-13  8s ease-out forwards;
}

.text-21 {
  position: relative;
    top:  0px;
    left: 0px;
  animation: text-21  8s ease-out forwards;
}

.text-22 {
  position: relative;
    top:  0px;
    left: 8px;
  animation: text-22  8s ease-out forwards;
}

.text-23 {
  position: relative;
    top:  0px;
    left: 18px;
  animation: text-23  8s ease-out forwards;
}

.text-31 {
  position: relative;
    top:  0px;
    left: 0px;
  animation: text-31  8s ease-out forwards;
}

.text-32 {
  position: relative;
    top:  0px;
    left: 8px;
  animation: text-32  8s ease-out forwards;
}

.text-33 {
  position: relative;
    top:  0px;
    left: 18px;
  animation: text-33  8s ease-out forwards;
}

.text-41 {
  position: relative;
    top:  0px;
    left: 0px;
  animation: text-41  8s ease-out forwards;
}

.text-42 {
  position: relative;
    top:  0px;
    left: 8px;
  animation: text-42  8s ease-out forwards;
}

.text-43 {
  position: relative;
    top:  0px;
    left: 18px;
  animation: text-43  8s ease-out forwards;
}





.quizzs .js-question {
    position: relative;
      top: -55px;
    padding: 5px 30px;
    border-radius: 8px;
    color: #F2EDE4;
    background: #034959;
    box-shadow: 5px 5px #0D0D0D;
    font-size: 30px;
    text-align: center;
    opacity: 0;
    animation: quiz 2s ease 8s forwards;

}

.answer {
    display: flex;
    text-align: center;
    opacity: 0;
    animation: quiz 2s ease forwards;
}

.js-answer {
  position: relative;
    top: -55px;
  display: none;
  animation: quiz 2s ease forwards;

}

.answer div {
    padding: 5px 30px;
    border-radius: 8px;
    color: #F2EDE4;
    background: #404040;
    box-shadow: 5px 5px #A6A6A6;
    font-size: 30px;
    cursor: pointer;
    flex: auto;
}

.anwBtn:hover {
    background-color: rgba(64, 64, 64,0.5);
    box-shadow: 5px 5px rgba(166, 166, 166,0.5);
    
} 

.answer .anwBtn:active {
    box-shadow: none;
    position: relative;
    top:-53px;
    background-color: #A6A6A6; 
 }

.answer div:first-child{
    margin-right: 20px;
}

.image1 img {
    position: absolute;
    top: 45px;
    transform:rotate(180deg);
}
  
  .image1 .tras-114 {
    position: absolute;
    top:  45px;
  }

  .image1 .tras-113 {
    position: absolute;
    top:   -30px;
  }

  .image1 .tras-112 {
    position: absolute;
    top:  -140px;
  }

  .image1 .tras-111 {
    position: absolute;
    top:  270px;
  }

  .image1 .tras-110 {
    position: absolute;
    top:  -428px;
  }

  .image1 .tras-19 {
    position: absolute;
    top:  105px;
  }

  .image1 .tras-18 {
    position: absolute;
    top:  -434px;
  }

  .image1 .tras-17 {
    position: absolute;
    top:  -250px;
  }

  .image1 .tras-16 {
    position: absolute;
    top:  -409px;
  }

  .image1 .tras-15 {
    position: absolute;
    top:  69px;
  }

  .image1 .tras-14 {
    position: absolute;
    top:   145px;     
  }

  .image1 .tras-13 {
    position: absolute;
    top:  -162px;
  }

  .image1 .tras-12 {
    position: absolute;
    top:  123px;
  }

  .image1 .tras-11 {
    position: absolute;
    top:    -162px;
  }

  .image2 {
      display: none;
  }

  .image2 img {
    position: absolute;
    top: 45px;
    transform:rotate(180deg);  
  }

  .image2 .tras-214 {
    position: absolute;
    top:  45px;
  }

  .image2 .tras-213 {
    position: absolute;
    top:   0px;
  }

  .image2 .tras-212 {
    position: absolute;
    top:  -10px;
  }

  .image2 .tras-211 {
    position: absolute;
    top:  100px;
  }

  .image2 .tras-210 {
    position: absolute;
    top:  -100px;
  }

  .image2 .tras-29 {
    position: absolute;
    top:  70px;
  }

  .image2 .tras-28 {
    position: absolute;
    top:  -50px;
  }

  .image2 .tras-27 {
    position: absolute;
    top:  -30px;
  }

  .image2 .tras-26 {
    position: absolute;
    top:  -70px;
  }

  .image2 .tras-25 {
    position: absolute;
    top:  55px;
  }

  .image2 .tras-24 {
    position: absolute;
    top:   -76px;     
  }

  .image2 .tras-23 {
    position: absolute;
    top:  -107px;
  }

  .image2 .tras-22 {
    position: absolute;
    top:  75px;
  }

  .image2 .tras-21 {
    position: absolute;
    top:    5px;
  }

.image3 {
    display: none;
}

.image3 img {
  position: absolute;
  top: 45px;
  transform:rotate(180deg);  
}

.image3 .tras-314 {
  position: absolute;
  top:  45px;
}

.image3 .tras-313 {
  position: absolute;
  top:   30px;
}

.image3 .tras-312 {
  position: absolute;
  top:  35px;
}

.image3 .tras-311 {
  position: absolute;
  top:  50px;
}

.image3 .tras-310 {
  position: absolute;
  top:  38px;
}

.image3 .tras-39 {
  position: absolute;
  top:  50px;
}

.image3 .tras-38 {
  position: absolute;
  top:  44px;
}

.image3 .tras-37 {
  position: absolute;
  top:  35px;
}

.image3 .tras-36 {
  position: absolute;
  top:  51px;
}

.image3 .tras-35 {
  position: absolute;
  top:  0px;
}

.image3 .tras-34 {
  position: absolute;
  top:   52px;     
}

.image3 .tras-33 {
  position: absolute;
  top:  35px;
}

.image3 .tras-32 {
  position: absolute;
  top:  48px;
}

.image3 .tras-31 {
  position: absolute;
  top:    35px;
}

.image4 {
    display: none;
    position: relative;
    left: 0px;
    animation: image-posi  20s linear 2s forwards;
}

.image4 img {
  position: absolute;
  top: 30px;
  transform:rotate(180deg);
  animation: image-rote  20s ease 2s forwards;
}

.last-image a {
  display: inline-block;
  position: relative;
  top: -100px;
  background: #5ABFAD;
  color: antiquewhite;
  padding: 10px 20px;
  border-radius: 8px;
}

.last-image a:hover {
  background: rgba(90, 191, 173,0.5);
  color: rgb(148, 164, 196);
}


.last-image {
  display: none;
  opacity: 0;
  position: relative;
  top: 640px;
  text-align: center;
  animation: last66  1s ease-out 12s forwards;
}

.last-image1 {
  position: relative;
  top:  -775px;
  left: 16px;
  animation: buffalo  8s ease-out 14s forwards;
}


.last-image2 {
  text-align: center;
  position: relative;
  top: -700px;
}

.sub66 {
  display: none;
  position: relative;
  top: -1392px;
  text-align: center;  
}

.imageOut1 {
  animation: imgOut1  0.1s linear forwards;
}

.imageOut2 {
  animation: imgOut2  0.1s linear forwards;
}



