@charset "utf-8";

@keyframes header-image {
    0%  {position: absolute;
        top:0;  left: 0;}
    100%{position: absolute;
        top: 0; left: -2500px;}
}

@keyframes image-rote {
    0%  {transform:rotate(180deg);
         width: 1170px;
         position: absolute;
         top: 45px;
         left: auto;}
   25%  {transform:rotate(360deg);
         width: 1170px;
         position: absolute;
         top: 45px;
         left: auto;}
   40%  {transform:rotate(360deg);
         width: 1170px;
         position: absolute;
         top: 45px;
         left: auto;}
   100%  {transform:rotate(360deg);
         width: 1300px;
         position: absolute;
         top:    0px;
         left:   auto;}
}

@keyframes image-posi {
    0%  {position: relative;left: 0px;}
   25%  {position: relative;left: 0px;}
   30%  {position: relative;left: 0px;}
   40%  {position: relative;left: 0px;}
   100% {position: relative;left: -60px;}
}

@keyframes last66 {
  0%  {position: relative;top: 640px;
       opacity: 0;}
  90% {position: relative;top:  -20px;}   
 100% {position: relative;top:   0px;
       opacity: 1.0;}
}

@keyframes buffalo {
  0%  {position: relative;top: 0px; left: 0px;}
 100% {position: relative;top: 19px; left: 11px;}
}


body{
    background-color:#D2D9D8;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header-comment {   
    height: 960px;
    overflow: hidden;
    line-height: 1;
    margin: 0;   
    font-size: 100px;
    font-weight: bold;
    color: #F2F2F2;
    animation: header-image  400s linear infinite;
}

.comBg {
   padding: 10px 0 0 10px;
    height: 960px;
    overflow: hidden;
    line-height: 1;
    margin: 0;   
    font-size: 100px;
    font-weight: bold;
    animation: header-image  400s linear infinite;
    color: #A6A6A6;
}
.button-wrapper {
    text-align: center;
}


.st-log {    
    display: inline-block;
    
    position: relative;
        top:  242px;    
    color: #2D1F8C;
    font-size: 25px;
    font-weight: border;
    background-color: rgb(218, 205, 208);
    border-radius: 50%;
    padding: 30px;
    cursor: pointer;
    box-shadow: 5px 5px rgba(124, 146, 165, 0.8);
}

.st-log:active {
    background-color: rgba(218, 205, 208,0.5);
    box-shadow: none;
    top:  247px;
}

.quizzs {
    display: none;

}

.quizzs .container {
    text-align: center;
}

.quiz {
    position: relative;
    top: 225px;
    display: inline-block;
}

.quizzs h3 {
    padding: 5px 30px;
    border-radius: 8px;
    color: #F2EDE4;
    background: #034959;
    box-shadow: 5px 5px #0D0D0D;
    font-size: 30px;
    text-align: center;
}

.answer {
    display: flex;
    text-align: center;

}

.answer div {
    padding: 5px 30px;
    border-radius: 8px;
    color: #F2EDE4;
    background: #404040;
    box-shadow: 5px 5px #A6A6A6;
    font-size: 30px;
    cursor: pointer;
    flex: auto;
}

.answer .anwBtn:hover {
    background-color: rgba(64, 64, 64,0.5);
    box-shadow: 5px 5px rgba(166, 166, 166,0.5);
}

.answer .anwBtn:active {
    box-shadow: none;
    position: relative;
    top:2px;
    background-color: #A6A6A6; 
 }

.answer div:first-child{
    margin-right: 20px;
}

.image1 img {
    position: absolute;
    top: 45px;
    transform:rotate(180deg);
}
  
  .image1 .tras-114 {
    position: absolute;
    top:  45px;
  }

  .image1 .tras-113 {
    position: absolute;
    top:   -30px;
  }

  .image1 .tras-112 {
    position: absolute;
    top:  -140px;
  }

  .image1 .tras-111 {
    position: absolute;
    top:  270px;
  }

  .image1 .tras-110 {
    position: absolute;
    top:  -428px;
  }

  .image1 .tras-19 {
    position: absolute;
    top:  105px;
  }

  .image1 .tras-18 {
    position: absolute;
    top:  -434px;
  }

  .image1 .tras-17 {
    position: absolute;
    top:  -250px;
  }

  .image1 .tras-16 {
    position: absolute;
    top:  -409px;
  }

  .image1 .tras-15 {
    position: absolute;
    top:  69px;
  }

  .image1 .tras-14 {
    position: absolute;
    top:   268px;     
  }

  .image1 .tras-13 {
    position: absolute;
    top:  -336px;
  }

  .image1 .tras-12 {
    position: absolute;
    top:  123px;
  }

  .image1 .tras-11 {
    position: absolute;
    top:    -162px;
  }

  .image2 {
      display: none;
  }

  .image2 img {
    position: absolute;
    top: 45px;
    transform:rotate(180deg);  
  }

  .image2 .tras-214 {
    position: absolute;
    top:  45px;
  }

  .image2 .tras-213 {
    position: absolute;
    top:   0px;
  }

  .image2 .tras-212 {
    position: absolute;
    top:  -10px;
  }

  .image2 .tras-211 {
    position: absolute;
    top:  100px;
  }

  .image2 .tras-210 {
    position: absolute;
    top:  -100px;
  }

  .image2 .tras-29 {
    position: absolute;
    top:  70px;
  }

  .image2 .tras-28 {
    position: absolute;
    top:  -50px;
  }

  .image2 .tras-27 {
    position: absolute;
    top:  -30px;
  }

  .image2 .tras-26 {
    position: absolute;
    top:  -70px;
  }

  .image2 .tras-25 {
    position: absolute;
    top:  55px;
  }

  .image2 .tras-24 {
    position: absolute;
    top:   100px;     
  }

  .image2 .tras-23 {
    position: absolute;
    top:  -20px;
  }

  .image2 .tras-22 {
    position: absolute;
    top:  75px;
  }

  .image2 .tras-21 {
    position: absolute;
    top:    5px;
  }

.image3 {
    display: none;
}

.image3 img {
  position: absolute;
  top: 45px;
  transform:rotate(180deg);  
}

.image3 .tras-314 {
  position: absolute;
  top:  45px;
}

.image3 .tras-313 {
  position: absolute;
  top:   30px;
}

.image3 .tras-312 {
  position: absolute;
  top:  35px;
}

.image3 .tras-311 {
  position: absolute;
  top:  50px;
}

.image3 .tras-310 {
  position: absolute;
  top:  38px;
}

.image3 .tras-39 {
  position: absolute;
  top:  50px;
}

.image3 .tras-38 {
  position: absolute;
  top:  44px;
}

.image3 .tras-37 {
  position: absolute;
  top:  35px;
}

.image3 .tras-36 {
  position: absolute;
  top:  51px;
}

.image3 .tras-35 {
  position: absolute;
  top:  0px;
}

.image3 .tras-34 {
  position: absolute;
  top:   52px;     
}

.image3 .tras-33 {
  position: absolute;
  top:  35px;
}

.image3 .tras-32 {
  position: absolute;
  top:  48px;
}

.image3 .tras-31 {
  position: absolute;
  top:    35px;
}

.image4 {
    display: none;
    position: relative;
    left: 0px;
    animation: image-posi  20s linear 2s forwards;
}

.image4 img {
  position: absolute;
  top: 45px;
  transform:rotate(180deg);
  animation: image-rote  20s ease 2s forwards;
}

.last-image a {
  display: inline-block;
  position: relative;
  top: -100px;
  background: #5ABFAD;
  color: antiquewhite;
  padding: 10px;
  border-radius: 8px;
}

.last-image a:hover {
  background: rgba(90, 191, 173,0.5);
  color: rgb(53, 121, 247);
}


.last-image {
  display: none;
  opacity: 0;
  position: relative;
  top: 640px;
  text-align: center;
  animation: last66  1s ease-out 14s forwards;
}

.last-image1 {
  position: relative;
  top:  0px;
  left: 0px;
  animation: buffalo  6s ease-out 16s forwards;
}


.last-image2 {
  text-align: center;
  position: relative;
  top: -641px;
}

.sub66 {
  display: none;
  position: relative;
  top: -1328px;
  text-align: center;  
}











